@import '/src/assets/plugins/vars';
@import '/src/assets/plugins/functions';

.modal-wrapper {
    width: 100%; height: 100%;
    padding: 1rem;
    position: fixed; top: 0; left: 0;
    background: tt($dark, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    backdrop-filter: blur(5px);
}

.modal-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%; 
    max-width: 800px;
    min-height: 350px;
    margin: 4rem auto 2rem auto; padding: 1rem;
    background: $light;
    border-radius: 2rem;
}

.modal-header {
    width: 100%;
    padding: 0.5rem 1rem; margin-top: 2.5rem;
    background: tt($indigo, 0.80);
    border-radius: 2rem;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.2rem;
    font-weight: 600;
}

.modal-body {
    flex: auto;
    margin-top: 1.5rem; padding: 1rem 1.5rem;
    background: tt($indigo, 0.95);
    border-radius: 2rem;
    word-break: break-all;

    div {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    ul {
        width: 100%;
        height: auto;

        li {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            font-weight: 500;
            font-style: italic;
            border-bottom: 1px solid tt($indigo, 0.5);
        }

        span {
            margin-right: 1rem;
            font-weight: 600;
        }
    }
}

.btn-close {
    position: absolute;
    top: 1.5rem; right: 1.5rem;
    color: tt($indigo, 0.7);
    transition: 0.2s;
    user-select: none;
    cursor: pointer;

    &:hover {color: tt($indigo, 0.3);}
}