@import '/src/assets/plugins/vars';
@import '/src/assets/plugins/functions';

.modal-wrapper {
    width: 100%; height: 100%;
    padding: 1rem;
    position: fixed; top: 0; left: 0;
    background: tt($dark, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    backdrop-filter: blur(5px);
}

.modal-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%; 
    max-width: 800px;
    min-height: 350px;
    margin: 4rem auto 2rem auto; padding: 1rem;
    background: $light;
    border-radius: 2rem;
}

.modal-header {
    width: 100%;
    padding: 0.5rem 1rem; margin-top: 2.5rem;
    background: tt($indigo, 0.80);
    border-radius: 2rem;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.2rem;
    font-weight: 600;
}

.modal-body {
    flex: auto;
    margin-top: 1.5rem; padding: 1rem 1.5rem;
    background: tt($indigo, 0.95);
    border-radius: 2rem;
    word-break: break-all;

    form {
        width: 100%;
        height: 100%;
        padding: 1rem;

        input, textarea {
            display: block;
            width: 100%;
            max-width: 400px;
            margin: 2rem auto;
            height: 35px;
            border: 2px solid tt($dark, 0.3); outline: none; border-radius: 2rem;
            padding: 1rem;

            &:focus {
            border: 2px solid $indigo;
            }
            &:focus + i {
            color: $indigo;
            }
        }
        textarea {
            min-height: 200px;
            text-align: left;
            overflow: auto;
            resize: none;
            border-radius: 0.8rem;
        }

        input[type = file] {
            padding: 0;

            &::-webkit-file-upload-button {
                width: 50%;
                height: 100%;
                padding: 0; margin: 0;
                border: none; border-radius: 1rem;
                outline: none;
                font-family: inherit;
                background: $indigo;
                color: $light;
                cursor: pointer;
            }
        }

        span {
            display: block;
            margin: 0 auto;
            font-weight: 600;
            text-align: center;
        }
    }

    div {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    ul {
        width: 100%;
        height: auto;

        li {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            font-weight: 500;
            font-style: italic;
            border-bottom: 1px solid tt($indigo, 0.5);
        }

        li.point {
            margin: 1rem auto;
            width: 50px;
            height: 50px;
            background: $indigo;
            border-radius: 50%;
            cursor: pointer;
        }
        li.active {
            background: $mint;
        }

        span {
            margin-right: 1rem;
            font-weight: 600;
        }

        span.progress-title {
            display: block;
            margin: 2rem 0 1rem 0;
            text-align: center;
        }
    }
}

.btn-close {
    position: absolute;
    top: 1.5rem; right: 1.5rem;
    color: tt($indigo, 0.7);
    transition: 0.2s;
    user-select: none;
    cursor: pointer;

    &:hover {color: tt($indigo, 0.3);}
}

.btn {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin: 3rem auto;
    margin-bottom: 1rem;
    background: $mint;
    border: none; outline: none; border-radius: 1rem;
    color: $light;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;

    &:hover, &:focus {
        box-shadow: 0 0 0 5px tt($mint, 0.7);
    }
}
.btn-сlear {
    background: $red;
    margin-top: 0;

    &:hover, &:focus {
        box-shadow: 0 0 0 5px tt($red, 0.7);
    }
}