<section class="s1">
    <div class="box-content">
        <div class="box-title">
            <h2>Контакты</h2>
        </div>
        <div class="box-info">
            <div class="card">
                <ul class="contacts-list">
                    <li class="title">Иван - Менеджер проектов:</li>
                    <li><span class="red">тел:</span> <a draggable="false" href="tel:+79179531863">+79179531863</a>
                        <i (click)='copy("+79179531863")' class="material-icons">content_copy</i></li>
                    
                    <li><span class="red">Ссылка VK:</span> 
                        <a 
                        target="_blank" 
                        draggable="false" 
                        href="https://vk.com/zhivodvorov">vk.com/zhivodvorov</a>
                        <i (click)='copy("https://vk.com/zhivodvorov")' class="material-icons">content_copy</i></li>

                    <li><span class="red">Почта:</span> 
                        <a 
                        target="_blank" 
                        draggable="false" 
                        href="mailto:netchweb@gmail.ru">netchweb@gmail.ru</a>
                        <i (click)='copy("netchweb@gmail.ru")' class="material-icons">content_copy</i></li>
                    
                    <li class="title">NETCH в соц. сетях:</li>
                    <li><span class="red">Группа VK:</span> 
                        <a 
                        target="_blank" 
                        draggable="false" 
                        href="https://vk.com/netch_web">vk.com/netch_web</a>
                        <i (click)='copy("https://vk.com/netch_web")' class="material-icons">content_copy</i></li>

                    <li><span class="red">INST:</span> 
                        <a
                        target="_blank" 
                        draggable="false" 
                        href="https://www.instagram.com/netch_web/?hl=ru">netch_web</a>
                        <i (click)='copy("netch_web")' class="material-icons">content_copy</i></li>
                    
                    <li class="title">График работы:</li>
                    <li><span class="red">пн - пт</span><span>9:00 - 19:00</span></li>
                    <li><span class="red">сб - вс</span><span>выходной</span></li>
                </ul>
                <span *ngIf="completeCopy" class="info">Скопировано :)</span>
            </div>
        </div>
    </div>
</section>
