<section *ngIf='adminActive; else auth' class="s1">
    <button (click)='getAllFeedback(); toggleTables = "feedback"' class="btn">Звонки</button>
    <button (click)='getAllBriefs(); toggleTables = "briefs"' class="btn">Брифы</button>
    <button (click)='getProgress(); toggleTables = "progress"' class="btn">Прогресс</button>
    <button (click)='details("content", "Контент")' class="btn">Добавить контент</button>
    <button (click)='logOut()' class="btn btn-clear">Выйти</button>

    <div *ngIf='toggleTables == "feedback"' class="table-container">
        <h3>Обратная связь</h3>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of feedback; let i = index'>
                    <td>{{ i+1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>
                        <button *ngIf='item.active' (click)="check(item)" class="btn btn-clear"><i class="material-icons">close</i></button>
                        <button *ngIf='!item.active' (click)="check(item)" class="btn btn-check"><i class="material-icons">check</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf='toggleTables == "briefs"' class="table-container">
        <h3>Брифы</h3>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Детали</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of briefs'>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>
                        <button (click)='details("brief", "Бриф", item)' class="btn btn-more"><i class="material-icons">apps</i></button>
                        <button (click)='removeBrief(item.id)' class="btn btn-clear" style="margin-left: 1rem;"><i class="material-icons">close</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf='toggleTables == "progress"' class="table-container">
        <h3>Прогресс</h3>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Детали</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of progress; let i = index'>
                    <td>{{ item.userBrief.id }}</td>
                    <td>{{ item.userBrief.name }}</td>
                    <td>{{ item.userBrief.email }}</td>
                    <td>{{ item.userBrief.phone }}</td>
                    <td>{{ item.userBrief.createdAt }}</td>
                    <td>
                        <button (click)='details("progress", "Прогресс", item)' class="btn btn-more"><i class="material-icons">apps</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<ng-template #auth>
    <section *ngIf='toggle == false' class="l1">
        <form class="form">
            <span>Почта</span>
            <input type="text" name="email" [(ngModel)]='logVals.username'>
            <span>Пароль</span>
            <input type="password" name="pass" [(ngModel)]='logVals.password'>
            <button (click)='postLogin()' class="btn">Отправить</button>
            <button (click)='toggle = true' class="btn btn-2">Регистрация</button>
        </form>
    </section>
    <section *ngIf='toggle' class="l1">
        <form class="form">
            <span>Имя</span>
            <input type="text" name="firstname" [(ngModel)]='regVals.firstname'>
            <span>Фамилия</span>
            <input type="text" name="lastname" [(ngModel)]='regVals.lastname'>
            <span>Почта</span>
            <input type="text" name="email" [(ngModel)]='regVals.email'>
            <span>Пароль</span>
            <input type="password" name="pass" [(ngModel)]='regVals.password'>
            <button (click)='postRegistration()' class="btn">Отправить</button>
            <button (click)='toggle = false' class="btn btn-2">Войти</button>
        </form>
    </section>
</ng-template>

<ui-admin-modal 
[adminModalActive]='adminModalVars.active'
[toggle]='adminModalVars.toggle'
[adminModalHeader]='adminModalVars.header'
[data]='adminModalVars.data'>
</ui-admin-modal>
