<footer>
    <div class="wrapper">
        <nav class="apps">
            <div class="links-box">
                <a draggable="false" href="" class="link">tel</a>
                <a draggable="false" href="" class="link">@email</a>
            </div>
            <div class="info-box">
                <div class="info-box_links">
                    <a draggable="false" href="" class="link">Отзывы</a>
                    <a draggable="false" href="" class="link">Сотрудничество</a>
                    <a draggable="false" href="" class="link">API</a>
                </div>
            </div>
        </nav>
    </div>
</footer>
