<header>
    <div class="wrapper">
        <nav class="apps">
            <div class="links-box">
                <a href="" class="link">Главная</a>
                <a href="" class="link">Проекты</a>
                <a href="" class="link">Услуги</a>
                <a href="" class="link">Контакты</a>
                <a href="" class="link">Информация</a>
                <a href="" class="link">GitHub</a>
            </div>
            <div class="btn-box">
                <button class="btn">Что с моим заказом?</button>
            </div>
        </nav>
    </div>
</header>
