<section class="s1">
  <div class="brief-box">
    <div class="brief-header">
      <h1>Бриф</h1>
    </div>
    <div class="brief-body">
      <form name="form-brief">
        <span>Ф.И.О.*</span>
        <span *ngIf='u.invalid && u.touched' class="invalid">Введите Ф.И.О.</span>
        <input type="text" name="username" #u='ngModel'
        [(ngModel)]='briefVals.name' required>

        <span>Почта*</span>
        <span *ngIf='e.invalid && e.touched' class="invalid">Введите почту</span>
        <input type="email" name="email" #e='ngModel'
        [(ngModel)]='briefVals.email' required>

        <span>Телефон*</span>
        <span *ngIf='t.invalid && t.touched' class="invalid">Введите телефон</span>
        <input type="tel" name="phone" #t='ngModel'
        [(ngModel)]='briefVals.phone' required>
        

        <span>Цели проекта</span>
        <textarea name="goals" [(ngModel)]='briefVals.goals' placeholder="тип сайта"></textarea>

        <span>Требования к проекту</span>
        <textarea name="requirements" [(ngModel)]='briefVals.requirements'></textarea>

        <span>Результаты проекта</span>
        <textarea name="results" [(ngModel)]='briefVals.results'></textarea>

        <span>Ограничения</span>
        <textarea name="restrictions" [(ngModel)]='briefVals.limitations'></textarea>

        <span>Допущения</span>
        <textarea name="assumptions" [(ngModel)]='briefVals.assumptions'></textarea>

        <span>Вид деятельности</span>
        <input type="text" name="activity" [(ngModel)]='briefVals.kindOfActivity'>

        <span>Есть ли макет сайта?</span>
        <select [(ngModel)]='briefVals.design' name="design">
          <option value="Да">Да</option>
          <option value="Нет">Нет</option>
        </select>

        <span>Есть ли сайт?</span>
        <input type="text" name="site" [(ngModel)]='briefVals.site' placeholder="ссылка на сайт">

        <span>Ваша продукция?</span>
        <input type="text" name="products" [(ngModel)]='briefVals.products'>

        <span>Ваши услуги?</span>
        <input type="text" name="services" [(ngModel)]='briefVals.services'>

        <span>Нужна помощь в создании логотипа?</span>
        <select [(ngModel)]='briefVals.logo' name="logo">
          <option value="Да">Да</option>
          <option value="Нет">Нет</option>
        </select>

        <span>У вас есть контент для сайта?</span>
        <select [(ngModel)]='briefVals.content' name="content">
          <option value="Да">Да</option>
          <option value="Нет">Нет</option>
        </select>

        <span>Основные разделы на сайте</span>
        <textarea name="sections" [(ngModel)]='briefVals.sections'></textarea>

        <span>Даю согласие на обработку персональных данных</span>
        <label for="checked"><img *ngIf='checkInput' src="\assets\svgs\done.svg" alt="done"></label>
        <input type="checkbox" name="check" id="checked" [(ngModel)]='checkInput'>
        
        <button [disabled]='!checkInput || e.invalid || t.invalid || u.invalid' 
        (click)='postBrief()' class="btn" type="submit">Отправить</button>
        <span 
        *ngIf='e.invalid && e.touched || 
        t.invalid && t.touched || 
        u.invalid && u.touched' class="invalid">Заполните обязательные поля</span>
      </form>
    </div>
  </div>
</section>
