<section class="s1">
    <div class="img-box">
        <img [@leftRight]='animateActiveSection ? "opacity" : "transparency"' 
        draggable="false" src="/assets/svgs/LOGO.svg" alt="LOGO">
    </div>
    <div [@rightLeft]='animateActiveSection ? "opacity" : "transparency"' class="text-box">
        <span class="header">Нужен сайт?</span>
        <span class="sub-header">наша команда разработчиков<br>поможет вам в решении поставленной задачи</span>
    </div>
    <div [@Line]='animateActiveSection ? "line" : "point"' class="line"></div>
</section>
<section [@leftRight]='animateActiveSectionsAll ? "opacity" : "transparency"' class="s2">
    <span class="header">Высокие технологии</span>
    <span class="sub-header">Наша команда использует современные технологии
         при разработке сайтов и веб-приложений любой сложности и масштабируемости</span>
    <img draggable="false" src="/assets/svgs/techs.svg" alt="techs">
    <img draggable="false" src="/assets/svgs/settings.svg" alt="settings">
    <div class="line"></div>
</section>
<section [@leftRight]='animateActiveSectionsAll ? "opacity" : "transparency"' class="s3">
    <span class="header">Проектный подход</span>
    <span class="sub-header">Ваша идея будет тщательно спланирована и организована, 
        благодаря чему вы сможете отслеживать ход выполнения работ на нашем сайте!
    </span>
    <div class="point-box">
        <div class="point">1</div>
        <div class="point">2</div>
        <div class="point">3</div>
        <div class="point">4</div>
        <div class="point">5</div>
        <div class="point">6</div>
        <div class="point">7</div>
        <div class="point">8</div>
    </div>
    <img draggable="false" src="/assets/svgs/timeline.svg" alt="timeline">
    <div class="line"></div>
</section>
<section [@leftRight]='animateActiveSectionsAll ? "opacity" : "transparency"' class="s4">
    <div>
        <span class="header">Низкие цены</span>
        <span class="sub-header">Наши услуги в первую очеред расчитаны на частных 
            предпринимателей и малые компании, у которых зачастую сильно ограниченный бюджет
            для продвижения своих услуг в интернете</span>
    </div>
    
    <ul>
        <li>Сайт-визитка от <span class="red">4000₽</span></li>
        <li>Сайт-порфолио от <span class="red">5000₽</span></li>
        <li>Лендинг от <span class="red">5000₽</span></li>
        <li>Официальный сайт от <span class="red">10000₽</span></li>
        <li>Интернет-магазин от <span class="red">15000₽</span></li>
    </ul>
    <button routerLink='/services' class="btn">Наши услуги</button>
    <div class="line"></div>
</section>
<section [@leftRight]='animateActiveSectionsAll ? "opacity" : "transparency"' class="s5">
    <div>
        <span class="header">В короткие сроки</span>
        <span class="sub-header">Мы всегда стараемся выполнить
             поставленную задачу в максимально короткие сроки
            не теряя при этом качества конечного продукта</span>
    </div>
    <img src="/assets/svgs/clocks.svg" alt="clocks">
    <div class="line"></div>
</section>
<section [@leftRight]='animateActiveSectionsAll ? "opacity" : "transparency"' class="s6">
    <span class="header">Обратная связь</span>
    <form name="feedBack">
        <span *ngIf='u.invalid && u.touched' class="invalid">Введите Ф.И.О.</span>
        <input 
        [(ngModel)]='feedbackData.name'
        #u='ngModel'
        name="user" 
        type="text" 
        placeholder="введите Ф.И.О" required>
        <span *ngIf='t.invalid && t.touched' class="invalid">Введите телефон</span>
        <input 
        [(ngModel)]='feedbackData.phone'
        #t='ngModel'
        name="phone" 
        type="tel" 
        placeholder="введите номер телефона" required>
        <span *ngIf='e.invalid && e.touched' class="invalid">Введите почту</span>
        <input 
        [(ngModel)]='feedbackData.email'
        #e='ngModel'
        name="email" 
        type="email" 
        placeholder="введите почту" required>
    </form>
    <span class="info">Даю согласие на обработку персональных данных</span>
    <label for="checked"><img *ngIf='checkInput' src="/assets/svgs/done.svg" alt="done"></label>
    <input type="checkbox" name="check" id="checked" [(ngModel)]='checkInput'>
    <button (click)='postFeedback()' [disabled]='!checkInput || e.invalid || t.invalid || u.invalid' class="btn">Отправить</button>
</section>