@import '/src/assets/plugins/vars';
@import '/src/assets/plugins/functions';

section {min-height: 100vh; user-select: none;}

.s1 {
    display: flex;
    min-height: 75vh;

    .box-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: auto;

        img {width: 100%; user-select: none;}
    }

    .box-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: auto;

        &_container {
            h1, p {color: $light;}
            h1 {font-size: 4rem; font-weight: 600;}
            p {font-size: 1.5rem; font-weight: 500;}

            @media (max-width: 768px) {
                h1 {font-size: 3.5rem; text-align: center;}
                p {font-size: 1.2rem;}
            }
            @media (max-width: 550px) {
                h1 {font-size: 3rem; text-align: center;}
                p {font-size: 1.1rem;}            
            }
            @media (max-width: 320px) {
                h1 {font-size: 2.5rem; text-align: center;}
                p {font-size: 1rem;} 
            }

            .line {
                height: 1rem;
                border-radius: 1rem;
                background: tt($red, 0.35);
                margin-bottom: 1rem;
            }
        }
    }

    @media (max-width: 1024px) {
        & {flex-direction: column;}
    }
}

.s2 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('/assets/svgs/techs.svg') bottom;
    background-size: contain;
    background-repeat: no-repeat;

    .box-title {

        h2 {
            display: flex;
            margin-bottom: 2rem;
            color: $light;
            font-size: 4rem;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 3.5rem;
            }
            @media (max-width: 550px) {
                font-size: 3rem;
            }
            @media (max-width: 320px) {
                font-size: 2.5rem;
            }

            .line {
                height: inherit;
                width: 1rem;
                background: tt($red, 0.35);
                border-radius: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

.s3 {
    display: flex;
    .box-points {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .point {
            position: relative;
            width: 200px;
            height: 100px;
            background: $indigo;
            border-radius: 1rem;

        }
        // .point:nth-child(3) {align-self: flex-start;}
        // .point:nth-child(2) {align-self: center;}
        // .point:nth-child(1) {align-self: flex-end;}
    }
}

.s4 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('/assets/svgs/bg-1.svg') no-repeat;
    background-size: 100%;

    .box-title {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            color: $light;

            @media (max-width: 768px) {
                font-size: 3.5rem;
            }
            @media (max-width: 550px) {
                font-size: 3rem;
            }
            @media (max-width: 320px) {
                font-size: 2.5rem;
            }
        }

        .line {
            height: 1rem;
            border-radius: 1rem;
            background: tt($indigo, 0.35);
            margin-bottom: 1rem;
        }

        .list {
            text-align: left;
            width: 100%;

            li {
                margin: 2rem 0;
                font-size: 1.5rem;
                font-weight: 500;
                color: $light;
            }
            span {
                color: $scarlet; 
                font-size: 1.5rem;
            }

            @media (max-width: 768px) {
                li {font-size: 1.2rem; text-align: center;}
                span {font-size: 1.2rem;}
            }
            @media (max-width: 550px) {
                li {font-size: 1.1rem; text-align: center;}
                span {font-size: 1.1rem;}
            }
        }

        .btn {
            height: 65px;
            padding: 0 20px;
            margin: 2rem 0;
            background: $red;
            border: none; outline: none; border-radius: 1rem;
            color: $light;
            font-weight: 500;
            font-size: 1.5rem;
            transition: 0.2s;
            cursor: pointer;

            &:hover, &:focus {
                box-shadow: 0 0 0 5px tt($red, 0.7);
            }
        }
    }
}

.s5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('/assets/svgs/bg-2.svg') no-repeat;
    background-size: 100%;

    .box-title {

        h2 {
            font-weight: 600;
            font-size: 4rem;
            color: $light;

            @media (max-width: 768px) {
                font-size: 3.5rem;
            }
            @media (max-width: 550px) {
                font-size: 3rem;
            }
            @media (max-width: 320px) {
                font-size: 2.5rem;
            }
        }
        h3 {
            text-align: center;
            font-size: 2rem;
            color: $light;
            margin-top: 2rem;

        }

        .line {
            height: 1rem;
            border-radius: 1rem;
            background: tt($blue, 0.5);
            margin-top: 1rem;
        }
    }

    .box-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
           @media (max-width: 550px) {
            width: 80%;
        } 
        }
        
    }
}

.s6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: url('/assets/svgs/bg-3.svg') center;
    background-size: 100%;
    background-repeat: no-repeat;

    h4 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $light;

        @media (max-width: 320px) {
            font-size: 1.2rem;
        }
    }
    .box-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;

        @media (max-width: 320px) {
            padding: 0;
        }

        label {
            display: flex;
            align-items: center;

            i {
                margin-left: 1rem;
                font-size: 2rem;
                color: $light;
                user-select: none;
                cursor: pointer;
            }

            input {
                height: 35px;
                border: 2px solid tt($dark, 0.3); outline: none; border-radius: 2rem;
                padding: 0 1rem; margin: 0.5rem 0;
                text-align: center;

                &:focus {
                    border: 2px solid $indigo;
                }
                &:focus + i {
                    color: $indigo;
                }
            }
        }

        .btn {
            height: 50px;
            padding: 0 20px;
            margin: 2rem 0;
            background: $mint;
            border: none; outline: none; border-radius: 1rem;
            color: $light;
            font-weight: 500;
            transition: 0.2s;
            cursor: pointer;

            &:hover, &:focus {
                box-shadow: 0 0 0 5px tt($mint, 0.7);
            }

            &:disabled {
                background: $grey-middle;
                cursor: not-allowed;
            }
            &:disabled:hover, &:disabled:focus {
            box-shadow: 0 0 0 5px tt($grey-middle, 0.7);
            }
        }
        .btn-reset {
            margin-left: 1rem;
            background: $scarlet !important;

            &:hover, &:focus {
                box-shadow: 0 0 0 5px tt($scarlet, 0.7) !important;
            }
        }
    }
    
    span.info{
        font-weight: 500;
        color: $light;
    }
    label {
        width: 25px;
        height: 25px;
        margin-top: 1rem;
        background: $indigo;
        border-radius: 0.4rem;
        user-select: none;
        cursor: pointer;
        
      }
      input[type='checkbox'] {display: none;}
      input[type='checkbox']:checked {
        background: $indigo;
      }
}