@import '/src/assets/plugins/vars';

.wrapper {
    width: 100%;
    max-width: $w-m;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: 350px) {
        padding: 0 0.5rem;
    }
}
