<section class="s1">
    <div class="track-box">
        <div class="track-header">
            <h1>Отслеживание заказа</h1>
        </div>
        <div class="track-body">
            <span>NETCH-{{trackData.id}}</span>
            <div 
            class="track-point" 
            [class.track-active]='trackData.brief'></div>

            <span>Техническое задание</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.technicalTask'></div>

            <span>Прототип</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.prototype'></div>

            <span>Модель сайта</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.siteModel'></div>

            <span>Разработка</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.frontBack'></div>

            <span>Тестирование</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.testing'></div>

            <span>Оплата</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.payment'></div>

            <span>Заказ готов!</span>
            <div 
            class="track-point"
            [class.track-active]='trackData.result'></div>

        </div>
    </div>
</section>
