<section class="s1">
    <div class="track-box">
        <div class="track-header">
            <h1>Отслеживание заказа</h1>
        </div>
        <div class="track-body">
            <div *ngIf='trackActive; else track' class="point-container">
                <span class="track-title" (click)='dischargeTrack()'>NETCH-{{trackData.id}}</span>
                <span>Бриф</span>
                <div 
                class="track-point" 
                [class.track-active]='trackData.brief'></div>

                <span>Техническое задание</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.technicalTask'></div>

                <span>Прототип</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.prototype'></div>

                <span>Модель сайта</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.siteModel'></div>

                <span>Разработка</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.frontBack'></div>

                <span>Тестирование</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.testing'></div>

                <span>Оплата</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.payment'></div>

                <span>Заказ готов!</span>
                <div 
                class="track-point"
                [class.track-active]='trackData.result'></div>
            </div>

            <ng-template #track>
                <span>Введите номер заказа</span>
                <input #trackInput name="track"
                (focus)='trackValue = "NETCH-"' type="text" 
                [(ngModel)]='trackValue'
                placeholder="NETCH-(номер заказа)">
                <button [disabled]='trackInput.value === ""' 
                (click)='getUserTrack(trackInput.value.substr(6))' class="btn">Отправить</button>
                <span *ngIf='trackInvalid && !load' class="invalid">Заказ не найден :(</span>
                <div *ngIf='load' class="loader"></div>
            </ng-template>
        </div>
    </div>
</section>
