// fonts
@import '/src/assets/plugins/fonts';
// reset styles
@import '/src/assets/plugins/reset';
// sass variables
@import '/src/assets/plugins/vars';
// sass functions
@import '/src/assets/plugins/functions';

// material icons
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
    background: $grey-dark;
    ::selection {background: tt($indigo,0.5);}
}

::-webkit-scrollbar {
    width: 0.7rem;
    background: tt($dark, 0.5);
}
::-webkit-scrollbar-thumb {
    background: $grey-middle;
    border-radius: 1rem;
}