<section class="s1">
    <div class="box-content">
        <div class="box-title">
            <h1>Наша команда</h1>
        </div>
        <div class="box-info">
            <div class="card">

                <h2>Frontend разработчик</h2>
                <h3>Владислав</h3>
                <div class="img-box">
                    <img 
                    draggable="false"
                    *ngIf='!load'
                    (click)='openHref("https://github.com/samurai-2000")'
                    [src]="Neon_Samurai" alt="Neon_Samurai" >
                    <div *ngIf='load' class="loader"></div>
                </div> 
                
            </div>
            <div class="card">

                <h2>Backend разработчик</h2>
                <h3>Владимир</h3>
                <div class="img-box">
                    <img 
                    draggable="false"
                    *ngIf='!load'
                    (click)='openHref("https://github.com/Wolodimir")' 
                    [src]="Wolodimir" alt="Wolodimir">
                    <div *ngIf='load' class="loader"></div>
                </div>
                
            </div>
            <div class="card">

                <h2>Проектный менеджер</h2>
                <h3>Иван</h3>
                <div class="img-box">
                    <img 
                    draggable="false"
                    *ngIf='!load'
                    (click)='openHref("https://github.com/Ivan-Zhivodvorov")' 
                    [src]="IvanZhivodvorov" alt="IvanZhivodvorov">
                    <div *ngIf='load' class="loader"></div>
                </div>
                
            </div>
        </div>
    </div>
</section>

