<section class="s1">
    <div class="box-content">
        <div class="box-title">
            <h2>Вебпаки</h2>
        </div>
        <div class="box-cards">
            <div class="card">
                <h3 class="one">Lord of the WEB</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>Angular</li>
                    <span>Серверная часть:</span>
                    <li>Java / Spring</li>
                    <span>База данных:</span>
                    <li>PostgreSQL</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Один Вебпак, чтоб править всеми..."</li>
                </ul>
            </div>
            <div class="card">
                <h3 class="two">WEB Bill</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>Vue JS</li>
                    <span>Серверная часть:</span>
                    <li>Python</li>
                    <span>База данных:</span>
                    <li>MySQL</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Зачем тянуть с разработкой в таком красивом саду?"</li>
                </ul>
            </div>
            <div class="card">
                <h3 class="tree">Full WEB Jacket</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>JavaScript / Samurai JS</li>
                    <span>Серверная часть:</span>
                    <li>Python</li>
                    <span>База данных:</span>
                    <li>MySQL</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Это мой Вебпак. Таких Вебпаков много, но этот — мой."<li>
                </ul>
            </div>
            <div class="card">
                <h3 class="four">WEB of Man</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>JavaScript / Samurai JS</li>
                    <span>Серверная часть:<br>(опционально)</span>
                    <li>Python</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Вебпак человеческий"</li>
                </ul>
            </div>
            <button (click)='openModal()' class="btn">Что такое Вебпак? <img src="\assets\svgs\help.svg" alt="help"></button>
        </div>
    </div>
    <button routerLink='/brief' class="btn">Заказать сайт</button>
</section>
<section class="s2">
    <div class="box-content">
        <div class="box-title">
            <h2>Услуги</h2>
        </div>
        <div class="box-cards">
            <div class="card">
                <span>Лендинг</span>
                <ul>
                    <li><span>Базовая цена:</span> <span class="mint">5000₽</span></li>
                    <li><span>Разработка макета:</span> <span class="red">+5000₽</span></li>
                    <li><span>Развертывание:</span> <span class="red">+2000₽</span></li>
                    <li><span>База данных:</span> <span class="red">+2000₽</span></li>
                </ul>
                <span class="info">Базовая цена не включает в себя разработку макета</span>
                <button routerLink='/brief' class="btn">Оформить заказ</button>
            </div>
            <div class="card">
                <span>Сайт-визитка</span>
                <ul>
                    <li><span>Базовая цена:</span> <span class="mint">4000₽</span></li>
                    <li><span>Разработка макета:</span> <span class="red">+5000₽</span></li>
                    <li><span>Развертывание:</span> <span class="red">+2000₽</span></li>
                    <li><span>База данных:</span> <span class="red">+2000₽</span></li>
                </ul>
                <span class="info">Базовая цена не включает в себя разработку макета</span>
                <button routerLink='/brief' class="btn">Оформить заказ</button>
            </div>
            <div class="card">
                <span>Сайт-портфолио</span>
                <ul>
                    <li><span>Базовая цена:</span> <span class="mint">5000₽</span></li>
                    <li><span>Разработка макета:</span> <span class="red">+5000₽</span></li>
                    <li><span>Страница администратора:</span> <span class="red">+3000₽</span></li>
                    <li><span>Развертывание:</span> <span class="red">+2000₽</span></li>
                    <li><span>База данных:</span> <span class="red">+2000₽</span></li>
                </ul>
                <span class="info">Базовая цена не включает в себя разработку макета</span>
                <button routerLink='/brief' class="btn">Оформить заказ</button>
            </div>
            <div class="card">
                <span>Интернет-магазин</span>
                <ul>
                    <li><span>Базовая цена:</span> <span class="mint">15000₽</span></li>
                    <li><span>Разработка макета:</span> <span class="red">+5000₽</span></li>
                    <li><span>Страница администратора:</span> <span class="red">от 2000₽</span></li>
                    <li><span>Развертывание:</span> <span class="red">+2000₽</span></li>
                    <li><span>База данных:</span> <span class="red">+2000₽</span></li>
                </ul>
                <span class="info">Базовая цена не включает в себя разработку макета</span>
                <button routerLink='/brief' class="btn">Оформить заказ</button>
            </div>
            <div class="card">
                <span>Официальный сайт</span>
                <ul>
                    <li><span>Базовая цена:</span> <span class="mint">10000₽</span></li>
                    <li><span>Разработка макета:</span> <span class="red">+5000₽</span></li>
                    <li><span>Страница администратора:</span> <span class="red">от 2000₽</span></li>
                    <li><span>Развертывание:</span> <span class="red">+2000₽</span></li>
                    <li><span>База данных:</span> <span class="red">+2000₽</span></li>
                </ul>
                <span class="info">Базовая цена не включает в себя разработку макета</span>
                <button routerLink='/brief' class="btn">Оформить заказ</button>
            </div>
        </div>
    </div>
    <div class="box-content">
        <span><span>В разработке</span></span>
        <div class="box-title">
            <h2>Дополнительно</h2>
        </div>
        <div class="box-cards">
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
        </div>
    </div>
</section>

