<section class="s1">
    <div class="box-content">
        <div class="box-title">
            <h2>Вебпаки</h2>
        </div>
        <div class="box-cards">
            <div class="card">
                <h3 class="one">Lord of the WEB</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>Angular</li>
                    <span>Серверная часть:</span>
                    <li>Java / Spring</li>
                    <span>База данных:</span>
                    <li>PostgreSQL</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Один Вебпак, чтоб править всеми..."</li>
                </ul>
            </div>
            <div class="card">
                <h3 class="two">WEB Bill</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>Vue JS</li>
                    <span>Серверная часть:</span>
                    <li>Python</li>
                    <span>База данных:</span>
                    <li>MySQL</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Зачем тянуть с разработкой в таком красивом саду?"</li>
                </ul>
            </div>
            <div class="card">
                <h3 class="tree">Full WEB Jacket</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>JavaScript / Samurai JS</li>
                    <span>Серверная часть:</span>
                    <li>Python</li>
                    <span>База данных:</span>
                    <li>MySQL</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Это мой Вебпак. Таких Вебпаков много, но этот — мой."<li>
                </ul>
            </div>
            <div class="card">
                <h3 class="four">WEB of Man</h3>
                <ul>
                    <span>Клиентская часть:</span>
                    <li>JavaScript / Samurai JS</li>
                    <span>Серверная часть:<br>(опционально)</span>
                    <li>Python</li>
                    <span>CSS:<br>(опционально)</span>
                    <li>Bootstrap, Materialize</li>
                    <span>Описание:</span>
                    <li>"Вебпак человеческий"</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="s2">
    <div class="box-content">
        <div class="box-title">
            <h2>Услуги</h2>
        </div>
        <div class="box-cards">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    <div class="box-content">
        <span><span>В разработке</span></span>
        <div class="box-title">
            <h2>Дополнительно</h2>
        </div>
        <div class="box-cards">
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
        </div>
    </div>
</section>
<section class="s3">
    <h3>Для того чтобы оформить заказ необходимо заполнить бриф, после чего нашим специалистам будет проще понять вашу задумку</h3>
    <button routerLink="/brief" class="btn">Заполнить бриф</button>
</section>
