<section class="s1">
    <div class="box-content">
        <div class="box-title">
            <h2>Вебпаки</h2>
        </div>
        <div class="box-cards">
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, fugiat cupiditate officia voluptatum accusamus qui aperiam nisi ea adipisci quos impedit incidunt dignissimos alias asperiores. Sit atque neque minus repellat.</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, fugiat cupiditate officia voluptatum accusamus qui aperiam nisi ea adipisci quos impedit incidunt dignissimos alias asperiores. Sit atque neque minus repellat.</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, fugiat cupiditate officia voluptatum accusamus qui aperiam nisi ea adipisci quos impedit incidunt dignissimos alias asperiores. Sit atque neque minus repellat.</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, fugiat cupiditate officia voluptatum accusamus qui aperiam nisi ea adipisci quos impedit incidunt dignissimos alias asperiores. Sit atque neque minus repellat.</div>
        </div>
    </div>
</section>
<section class="s2">
    <div class="box-content">
        <div class="box-title">
            <h2>Услуги</h2>
        </div>
        <div class="box-cards">
            <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sed impedit dolores laboriosam, quos, recusandae porro dignissimos nisi soluta totam distinctio similique suscipit vel molestias quam laborum quas excepturi, vitae explicabo. Ut voluptatibus odio ex vitae et sequi similique impedit nesciunt quaerat! Ullam, eius dolorum! Enim in eveniet corrupti dolores!</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sed impedit dolores laboriosam, quos, recusandae porro dignissimos nisi soluta totam distinctio similique suscipit vel molestias quam laborum quas excepturi, vitae explicabo. Ut voluptatibus odio ex vitae et sequi similique impedit nesciunt quaerat! Ullam, eius dolorum! Enim in eveniet corrupti dolores!</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sed impedit dolores laboriosam, quos, recusandae porro dignissimos nisi soluta totam distinctio similique suscipit vel molestias quam laborum quas excepturi, vitae explicabo. Ut voluptatibus odio ex vitae et sequi similique impedit nesciunt quaerat! Ullam, eius dolorum! Enim in eveniet corrupti dolores!</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sed impedit dolores laboriosam, quos, recusandae porro dignissimos nisi soluta totam distinctio similique suscipit vel molestias quam laborum quas excepturi, vitae explicabo. Ut voluptatibus odio ex vitae et sequi similique impedit nesciunt quaerat! Ullam, eius dolorum! Enim in eveniet corrupti dolores!</div>
        </div>
    </div>
    <div class="box-content">
        <div class="box-title">
            <h2>Дополнительно</h2>
        </div>
        <div class="box-cards">
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
            <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eveniet, impedit cum labore, ipsa, voluptas dignissimos sed veritatis pariatur cumque tenetur molestias ullam quos neque magni? Vitae officiis amet eum aut unde asperiores quod, maxime consequuntur dicta voluptas in error natus provident, quibusdam placeat itaque! Molestias sapiente doloribus atque vitae?</div>
        </div>
    </div>
</section>
<section class="s3">
    <h3>Для того чтобы оформить заказ необходимо заполнить бриф, после чего нашим специалистам будет проще понять вашу задумку</h3>
    <button routerLink="/brief" class="btn">Заполнить бриф</button>
</section>
