@import '/src/assets/plugins/vars';
@import '/src/assets/plugins/functions';

section {
    min-height: 50vh;
}

.s1 {

    .box-content {
        display: flex;
        flex: auto;
        flex-direction: column;
        min-height: 50vh;
        margin: 2rem auto; padding: 1rem;
        background: tt($dark, 0.7);
        border-radius: 1rem;

        .box-title {
            background: tt($dark, 0.5);
            border-radius: 1rem;
            padding: 0.5rem;

            h2 {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                color: $light;
            }
        }

        .box-cards {
            display: flex;
            flex: 100%;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;

            .card {
                display: flex;
                flex-direction: column;
                flex: 23%;
                height: auto;
                padding: 1rem;
                background: tt($dark, 0.7);
                border-radius: 1rem;
                transition: 0.2s;
                color: $light;

                h3 {font-size: 1.2rem; text-align: center; margin: 0.5rem 0;}
                h3.one {color: $red;}
                h3.two {color: $yellow;}
                h3.tree {color: $mint;}
                h3.four {color: $indigo;}

                ul {
                    padding: 0.5rem;

                    span {
                        display: block;
                        margin-top: 1rem;
                    }
                    span:nth-child(1) {margin: 0;}

                    li {
                        margin: 0.25rem 0;
                        color: $red;
                        font-weight: 600;
                    }
                }

                &:hover {box-shadow: 0 0 0 5px tt($red, 0.7);}

                @media (max-width: 992px) {flex: 25%;}
                @media (max-width: 768px) {flex: 33%;}
                @media (max-width: 530px) {flex: 100%;}
            }
            .card:nth-child(2) {ul {li {color: $yellow;}} &:hover {box-shadow: 0 0 0 5px tt($yellow, 0.7);}}
            .card:nth-child(3) {ul {li {color: $mint;}} &:hover {box-shadow: 0 0 0 5px tt($mint, 0.7);}}
            .card:nth-child(4) {ul {li {color: $indigo;}} &:hover {box-shadow: 0 0 0 5px tt($indigo, 0.7);}}
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        background: tt($dark, 0.7);
        border: none; outline: none; border-radius: 1rem;
        color: $light;
        font-weight: 500;
        transition: 0.2s;
        cursor: pointer;

        &:hover, &:focus {
            box-shadow: 0 0 0 5px tt($indigo, 0.7);
        }

        img {margin-left: 1rem;}
    }
    .btn:nth-child(2) {
        height: 100px;
        background: tt($dark, 0.3);
        font-size: 1.5rem;

        &:hover, &:focus {
            box-shadow: 0 0 0 5px tt($mint, 0.7);
        }
    }
}

.s2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
    .box-content {
        display: flex;
        flex-direction: column;
        flex: 49%;
        min-height: 50vh;
        margin: 2rem auto; padding: 1rem;
        background: tt($dark, 0.7);
        border-radius: 1rem;

        .box-title {
            background: tt($dark, 0.5);
            border-radius: 1rem;
            padding: 0.5rem;

            h2 {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                color: $light;
            }
        }

        .box-cards {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            gap: 1rem;
            width: 100%;
            margin-top: 1rem;

            .card {
                flex: 1 1 100%;
                height: auto;
                padding: 1rem;
                background: tt($dark, 0.7);
                border-radius: 1rem;
                transition: 0.2s;
                color: $light;

                span {
                    display: block;
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                span.info {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $yellow;
                    font-style: italic;
                }

                ul {
                    margin: 1rem 0;

                    li {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 1rem;

                        span {
                            display: block;
                            text-align: left;
                            font-weight: 400; 
                            font-size: 1rem;
                        }
                        span.red {font-weight: 500; font-style: normal; font-size: 1.2rem; color: $red;}
                        span.mint {font-weight: 500; font-style: normal; font-size: 1.2rem; color: $mint;}
                    }
                }

                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    padding: 0 20px;
                    margin-top: 1rem;
                    background: tt($dark, 0.7);
                    border: none; outline: none; border-radius: 1rem;
                    color: $light;
                    font-weight: 500;
                    transition: 0.2s;
                    cursor: pointer;

                    img {margin-left: 1rem;}
            
                    &:hover, &:focus {
                        box-shadow: 0 0 0 5px tt($red, 0.7);
                    }
            
                }
                .btn-info {
                    
                    &:hover, &:focus {
                        box-shadow: 0 0 0 5px tt($indigo, 0.7);
                    }
                }

                &:hover {box-shadow: 0 0 0 5px tt($red, 0.7);}
            }
        }
    }
    .box-content:nth-child(2) {
        position: relative;
        user-select: none;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 0;
            left: 0;
            color: $red;
            border-radius: 1rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}
